body {
  background-color: #f0dcc4;
  margin: 0 auto;
  font-family: Inter;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.01594rem;
}

@font-face {
  font-family: "Thunder";
  src: url(Fonts/Web-TT/Thunder-LC.woff) format("woff"),
    url(Fonts/Web-TT/Thunder-SemiBoldLC.woff) format("woff"),
    url(Fonts/Web-TT/Thunder-MediumLC.woff) format("woff");
}
@media only screen and (min-width: 840px) {
  .button-primary {
    align-self: center;
  }
  .hero {
    align-items: center;
  }
  header {
    padding: 1.25rem 2rem;
  }
  h1 {
    color: #694e2e;
    text-align: center;
    font-family: "Thunder";
    font-size: 4.9375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 5.43125rem */
    letter-spacing: -0.02469rem;
    text-transform: uppercase;
  }

  h2 {
    color: #694e2e;
    text-align: center;
    font-family: "Thunder";
    font-size: 3.6875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 4.05625rem */
    letter-spacing: -0.01844rem;
    text-transform: uppercase;
  }
  .center {
    text-align: center;
    align-self: center;
  }
  .services,
  .contact {
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 2rem;
    max-width: 500px;
    margin: 0 auto;
  }
  .list {
    display: flex;
    gap: 1.5rem;
  }
  p.align-right {
    text-align: right;
  }
  .hero-section {
    padding: 3.5rem 2rem 4.5rem;
  }
  footer {
    padding: 11rem 2rem 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 1.5rem;
  }
  .links {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    flex: 1;
  }
  .nav-link {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-self: stretch;
    flex: 1;
  }
  .nav-link a {
    align-self: center;
  }
}

@media only screen and (max-width: 839px) {
  header {
    padding: 1.25rem;
  }
  .button-primary {
    align-self: flex-start;
  }
  h1 {
    color: #694e2e;
    font-family: "Thunder";
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.3375rem;
    letter-spacing: -0.01313rem;
    text-transform: uppercase;
  }

  h2 {
    color: #694e2e;
    font-family: "Thunder";
    font-size: 2.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.3375rem;
    letter-spacing: -0.01063rem;
    text-transform: uppercase;
  }
  .services,
  .contact,
  footer {
    padding: 0rem 1.25rem 4rem 1.25rem;
  }
  .services,
  .contact {
    gap: 1.5rem;
  }
  .hero-section {
    padding: 3.5rem 1.25rem 4.5rem;
    margin: 0 auto;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
    gap: 2rem;
  }
  .links {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    flex: 1;
  }
  .nav-link {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-self: stretch;
    flex: 1;
  }
  .nav-link a {
    align-self: center;
  }

  .center {
    max-width: 600px;
  }
}

@media only screen and (max-width: 599px) {
  header {
    padding: 1.25rem;
  }
  .button-primary {
    align-self: flex-start;
  }
  h1 {
    color: #694e2e;
    font-family: "Thunder";
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.3375rem;
    letter-spacing: -0.01313rem;
    text-transform: uppercase;
  }

  h2 {
    color: #694e2e;
    font-family: "Thunder";
    font-size: 2.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.3375rem;
    letter-spacing: -0.01063rem;
    text-transform: uppercase;
  }
  .services,
  .contact,
  footer {
    padding: 0rem 1.25rem 4rem 1.25rem;
  }
  .services,
  .contact {
    gap: 1.5rem;
  }
  .hero-section {
    padding: 3.5rem 1.25rem 4.5rem;
    margin: 0 auto;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
    gap: 2rem;
  }
  .links {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-between;
    gap: 1rem;
    flex: 1;
  }
  .nav-link {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-self: stretch;
    flex: 1;
  }
}

.list {
  width: 100%;
}
.hero {
  gap: 1.5rem;
}
.hero,
.services,
.contact {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

header {
  top: 0;
  background-color: inherit;
}

b {
  all: unset;
}
h1,
h2,
p {
  margin: 0;
}
.button-primary {
  padding: 0.5rem 1rem;
  background-image: linear-gradient(
      0deg,
      hsla(0, 0%, 86%, 0.2) 0%,
      hsla(0, 0%, 86%, 0.2) 100%
    ),
    linear-gradient(
      0deg,
      hsla(0, 0%, 100%, 0.42) 0%,
      hsla(0, 0%, 100%, 0.7) 100%
    );
  border-radius: 0.5rem;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
    0px -2px 0px 0px rgba(152, 152, 152, 0.3) inset, 0px 1px 0px 0px #fff inset,
    0px 1px 1px 0px rgba(152, 152, 152, 0.3),
    0px 2px 2px -1px rgba(152, 152, 152, 0.3),
    0px 4px 4px -2px rgba(152, 152, 152, 0.3),
    0px 8px 8px -4px rgba(152, 152, 152, 0.3);

  /* text Formatting */
  color: #292929;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 0.9625rem */
  letter-spacing: -0.01313rem;
}
.list-col p:nth-child(2),
b {
  color: #db4010;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.list-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: stretch;
  flex: 1 1 50%;
}

.list-col p:nth-child(1) {
  font-weight: 500;
}

.wordmark {
  color: #db4010;
  font-family: Thunder;
  font-size: 1.3125rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.10906rem;
  text-transform: uppercase;
  flex: 1 0 0;
}
.nav-link a {
  color: #292929;
  font-family: Inter;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.01594rem;
  flex: 1;
}

a {
  text-decoration: none;
  color: #292929;
}

.nav-link a:nth-child(2) {
  color: #a4917a;
}
.button-primary:hover {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
    0px -1px 0px 0px rgba(152, 152, 152, 0.3) inset, 0px 1px 0px 0px #fff inset,
    0px 1px 1px 0px rgba(152, 152, 152, 0.3),
    0px 2px 2px -1px rgba(152, 152, 152, 0.3);
}

.button-primary:active {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
    0px 0px 0px 0.5px rgba(129, 74, 7, 0.15) inset,
    0.5px 0.5px 0px 0px rgba(129, 74, 7, 0.24) inset,
    -0.5px 0.5px 0px 0px rgba(129, 74, 7, 0.24) inset,
    0px 4px 4px -2px rgba(255, 255, 255, 0.3),
    0px 2px 2px -1px rgba(152, 152, 152, 0.3) inset,
    -2px 4px 4px -2px rgba(152, 152, 152, 0.3) inset,
    2px 4px 4px -2px rgba(152, 152, 152, 0.3) inset;

  background-image: linear-gradient(
      0deg,
      rgba(220, 220, 220, 0.3) 0%,
      rgba(220, 220, 220, 0.3) 100%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.24) 100%
    );
}
